JWT_SECRET=please-generate-a-long-random-string
SOLZERO_MAINNET_RPC=https://api.mainnet-beta.helius-rpc.com
SOLZERO_PROXY_UPSTREAM=https://api.mainnet-beta.helius-rpc.com
SOLZERO_TREASURY=B5FhC46zHEcurfhy7mn88jyq7GvTS73qpZ2R9aUVcKJe