PORT=8787
DB_PATH=./data/solzero.db
JWT_SECRET=please-change-me
SOLZERO_CLUSTER=mainnet-beta
SOLZERO_MAINNET_RPC=https://solana-rpc.publicnode.com
SOLZERO_SOL_USD=
SOLZERO_TREASURY=B5FhC46zHEcurfhy7mn88jyq7GvTS73qpZ2R9aUVcKJe
SOLZERO_FEE_RATE=0.1
SOLZERO_INVITE_L1=0.2
SOLZERO_INVITE_L2=0.05